a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #f00;
}
.active{
    color: #f00;
    position: relative;
}
.active::before{
    content: '>';
    position: absolute;
    left: 20px;
    top: 15px;
    transform: rotate(90deg);
}
.menus{
    position: fixed;
    width: 360px;
    top: 0;
    bottom: 0;
    background-color: #ff0;
    left: 0;
}
.content{
    position: fixed;
    left: 360px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: pink;
}